n8n_flow/policy.json
{
  "name": "policy4.0",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "f63e04e2-ee98-4d5a-9dd6-6bdf347a1c0b",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -96,
        -432
      ],
      "id": "f65a0588-dcfc-4104-84ae-408618b7e7f0",
      "name": "Webhook",
      "webhookId": "f63e04e2-ee98-4d5a-9dd6-6bdf347a1c0b"
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "file",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        96,
        -432
      ],
      "id": "f8845d0d-8f39-4517-90be-83f62ebcfd67",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        688,
        192
      ],
      "id": "877d8cd0-3982-4d16-867b-fdd5e66e0e89",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "EA6JCFCVAWUPeKlZ",
          "name": "Google Gemini(PaLM) Api account 6"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        240,
        -272
      ],
      "id": "2f3f27a9-30b8-45a8-8bea-c5ff194108f4",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "EA6JCFCVAWUPeKlZ",
          "name": "Google Gemini(PaLM) Api account 6"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1776,
        208
      ],
      "id": "8c551824-605b-430d-82d3-452d5a172c0e",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "571e5f20-5f0c-49fd-bf48-b5d34804e209",
              "name": "useroutput",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        880,
        -112
      ],
      "id": "93526f3e-da10-4e6d-947d-9213bf95ee26",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d49a801c-05fc-40c5-88e8-d83005b4f655",
              "name": "chatbot",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        656,
        -432
      ],
      "id": "78d33045-35a9-4605-8b2a-ff4d8ed76bbf",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1776,
        -80
      ],
      "id": "38f80c54-104a-448e-ac20-f9c672591bc9",
      "name": "Merge"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an expert multilingual document-summarization agent.  \nYour task is to summarize the extracted chunk of PDF text provided to you.  \n\nFollow these rules:\n\n1. Summarize the content in **approximately {{ $('Webhook').item.json.body.wordLimit }} words**.  \n2. Produce the summary **strictly in the language specified**:\n   → {{ $('Webhook').item.json.body.language }}\n3. Focus only on the information that appears in the given text chunk.  \n4. Extract and emphasize:\n   - Main ideas and core arguments\n   - Key facts, data points, and findings\n   - Important limitations, disclaimers, or missing information\n5. Avoid:\n   - Repetition\n   - Guessing missing context\n   - Adding your own opinions\n   - Filler text\n\nText to summarize:\n{{ $('AI Agent1').item.json.output }}\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        784,
        48
      ],
      "id": "397c2202-04e0-4e8d-bb7a-a21faa41f38a",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an expert multilingual document-summarization agent.  \nYour task is to summarize the extracted chunk of PDF text provided to you.  \n\nFollow these rules:\n\n1. Summarize the content in **approximately 2000 words**.  \n2. Produce the summary **strictly in the language specified**:\n   → English\n3. Focus only on the information that appears in the given text chunk.  \n4. Extract and emphasize:\n   - Main ideas and core arguments\n   - Key facts, data points, and findings\n   - Important limitations, disclaimers, or missing information\n5. Avoid:\n   - Repetition\n   - Guessing missing context\n   - Adding your own opinions\n   - Filler text\n\nText to summarize:\n{{ $json.text }}\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        240,
        -432
      ],
      "id": "fde54f7b-5bb4-4bd0-9a39-71cafad33dde",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "ddb23bcd-3430-49b8-9f62-3a7fde112886",
              "leftValue": "2000",
              "rightValue": "={{ $('Webhook').item.json.body.wordLimit }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "d130fc2d-3b25-4003-8a7b-908ab66ec51e",
              "leftValue": "English",
              "rightValue": "={{ $('Webhook').item.json.body.language }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        400,
        32
      ],
      "id": "20b218ad-1881-46e9-a621-bf1bb4483ecb",
      "name": "If"
    },
    {
      "parameters": {
        "content": "## Trigger + File text extract",
        "height": 416,
        "width": 528
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -304,
        -480
      ],
      "typeVersion": 1,
      "id": "0adebf71-6699-419d-8427-e09e4aa4e3fc",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Main Process Area",
        "height": 816,
        "width": 1424,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        224,
        -480
      ],
      "typeVersion": 1,
      "id": "b311e4ae-bd26-416c-bf78-4f68f596b8d5",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Merging two responses",
        "height": 240,
        "width": 416,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1648,
        -128
      ],
      "typeVersion": 1,
      "id": "490c0569-0522-4936-8b80-a5b296e2c6fb",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Response Webhook:\n\nTo send back the response",
        "height": 224,
        "width": 416
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1648,
        112
      ],
      "typeVersion": 1,
      "id": "f73db0e7-63f6-4a0f-a9c0-5417fccd0bf1",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## Rename the response ",
        "height": 192,
        "width": 288,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        560,
        -480
      ],
      "typeVersion": 1,
      "id": "848783bb-766f-4307-a1f6-33d03a2ff19a",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "## Rename the response ",
        "height": 208,
        "width": 320,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        736,
        -176
      ],
      "typeVersion": 1,
      "id": "a0aacb80-14e0-461e-86ef-8a5a7a77c678",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "## IF Condition\nif condition to check weather data require is same or different by which we can save processing power",
        "height": 224,
        "width": 336,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        256,
        -64
      ],
      "typeVersion": 1,
      "id": "ae3784d9-ae60-424c-ab4c-95c4d732d8e6",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "content": "# Work Space",
        "height": 912,
        "width": 2416,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -320,
        -576
      ],
      "typeVersion": 1,
      "id": "0ee7699d-5500-41ee-abcb-25f8f0ad4b48",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1248,
        -320
      ],
      "id": "99e5051f-d13e-46d3-b7a7-a7d8019e80fc",
      "name": "Google Gemini Chat Model2",
      "credentials": {
        "googlePalmApi": {
          "id": "EA6JCFCVAWUPeKlZ",
          "name": "Google Gemini(PaLM) Api account 6"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c8dc1c2b-b27e-4547-b8c9-bd6a64b115ce",
              "name": "mermaid",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1440,
        96
      ],
      "id": "2ff75416-984e-4b9f-a0e5-9e5af921ffb9",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "content": "## Rename the response ",
        "height": 208,
        "width": 320,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1312,
        48
      ],
      "typeVersion": 1,
      "id": "8d5c8901-de3a-477b-84ba-2c8f91eb8a2d",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "formTitle": "Test",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Upload Doc",
              "fieldType": "file",
              "acceptFileTypes": "pdf"
            },
            {
              "fieldLabel": "words",
              "fieldType": "radio",
              "fieldOptions": {
                "values": [
                  {
                    "option": "200"
                  },
                  {
                    "option": "700"
                  },
                  {
                    "option": "1000"
                  },
                  {
                    "option": "2000"
                  }
                ]
              }
            },
            {
              "fieldLabel": "Language",
              "placeholder": "English"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.3,
      "position": [
        -80,
        -208
      ],
      "id": "0dfe466a-a971-41bf-98f9-b77f66e1dd50",
      "name": "On form submission",
      "webhookId": "eb548bb7-5305-4fb0-a51d-971787fc78ca"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Your task:\nConvert the given summary or description into a clear, accurate Mermaid.js flowchart.\n\nSTRICT RULES:\n1. Only output Mermaid code — no explanation, no extra text.\n2. Use \"flowchart TD\" as the diagram type.\n3. Represent decisions using diamond nodes (e.g., A{Is valid?}).\n4. Represent steps/actions as rectangular nodes.\n5. Do NOT create information that is not explicitly or logically implied.\n6. Keep node labels short, clear, and professional.\n7. Ensure the diagram is syntactically valid Mermaid.js.\n8. If the summary lacks steps, infer minimal structure logically, without hallucinating details.\n\nOutput format:\n```mermaid\nflowchart TD\n    A[Start] --> B[...]\n    ...\n\nUse this Text Data to generate :\n{{ $('AI Agent1').item.json.output }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        1232,
        -464
      ],
      "id": "c3c7a7f7-d21e-4a2c-a078-cbbf4ad5fc79",
      "name": "mermaid"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          },
          {
            "node": "mermaid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          },
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "mermaid",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "On form submission": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "mermaid": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "timezone": "Asia/Kolkata",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "executionTimeout": 180,
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveExecutionProgress": true,
    "saveManualExecutions": true,
    "errorWorkflow": "8wfFwAOom2izM5TO",
    "timeSavedPerExecution": 5
  },
  "versionId": "7adcc518-1b9c-4409-8a88-2e4cd9b3e486",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f6222274b4cb72740eaed902916eb76a286d1ef234308e6d1d84d668a1c7f812"
  },
  "id": "5bzDvIvKJMV55Q0W",
  "tags": []
}