n8n_flow/policy.json
{
  "name": "policy2.0",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "6d3ce1cb-025a-4cd8-808a-d2a804aea741",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -304,
        -32
      ],
      "id": "3152cf6f-9c97-439f-bd6f-edfafd02bcfe",
      "name": "Webhook",
      "webhookId": "6d3ce1cb-025a-4cd8-808a-d2a804aea741"
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "file",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -96,
        -32
      ],
      "id": "a5a1301e-691d-4f19-9f0b-b1b2dbe63307",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an expert multilingual document summarizer.  \nYour task is to summarize the provided PDF text in approximately {{ $('Webhook').item.json.body.wordLimit }} words.  \n\nThe user has selected the target output language: {{ $('Webhook').item.json.body.language }}.  \nGenerate the summary **strictly in that language**, ensuring the grammar and vocabulary are natural and fluent for native readers.  \n\nFocus your summary on:\n- The **main ideas** and **core arguments** of the document  \n- Key **facts**, **figures**, and **findings**  \n- Notable **exclusions** or **limitations** mentioned  \n- Avoiding unnecessary filler, repetition, or speculative commentary  \n\nText to summarize:\n{{ $json.text }}\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        192,
        -240
      ],
      "id": "4aaf7d67-26c6-4807-8625-567c3b81f040",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        160,
        -48
      ],
      "id": "c25b8b5e-14c6-47fc-8825-c3b9381809ab",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "Gdu1GmJvatAyagkm",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an expert multilingual document summarizer designed for high-accuracy comprehension of long PDF texts.\nYour job is to produce a clear, complete, and deeply detailed summary based strictly on the user-provided content.\n\nThe user has selected the output language: English.\nYou must write the summary only in English, with fluent, natural, native-level grammar and vocabulary.\n\nYour summary should be 1000 words and include:\n\nThe main themes, arguments, and central ideas\n\nKey facts, figures, statistics, results, and conclusions\n\nAny limitations, constraints, or assumptions mentioned\n\nImportant methods, models, frameworks, or processes\n\nNo filler, no repetition, no personal opinions, and no speculative content\n\nSummaries must remain faithful to the original document\n\nUser content to summarize:\n\n{{ $json.text }}\n\n\nRequired Output Format:\n\nchatoutput",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        192,
        112
      ],
      "id": "70a51e0e-0642-434f-9e0b-33f64a43b542",
      "name": "AI Agent1",
      "retryOnFail": true,
      "waitBetweenTries": 3000,
      "notesInFlow": false,
      "executeOnce": false,
      "alwaysOutputData": false,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        16,
        224
      ],
      "id": "71a45319-03b3-4222-955b-1ee0da3b4f87",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "ELwaqUozyhRtv879",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        800,
        -64
      ],
      "id": "40583820-5051-42b2-843c-3129dfa776f3",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "571e5f20-5f0c-49fd-bf48-b5d34804e209",
              "name": "useroutput",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        544,
        -240
      ],
      "id": "f758ba2e-4a4e-41dc-bc5b-176450d9cfe4",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d49a801c-05fc-40c5-88e8-d83005b4f655",
              "name": "chatbot",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        544,
        112
      ],
      "id": "f86a9422-f8d1-4b26-b055-593ddff2760a",
      "name": "Edit Fields1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        656,
        -64
      ],
      "id": "7c931fc7-c94e-4eaa-850d-71eec4e21c27",
      "name": "Merge"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          },
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "timezone": "Asia/Kolkata",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "abf0ed31-aef5-4fa9-81f7-aa2c70f76957",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f6222274b4cb72740eaed902916eb76a286d1ef234308e6d1d84d668a1c7f812"
  },
  "id": "8wfFwAOom2izM5TO",
  "tags": []
}
